Repository Majyasin/vv: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.{json,md,mdx}": ["biome format --write --no-errors-on-unmatched"],
  "*.css": ["biome format --write --no-errors-on-unmatched"]
}

chore: add .nvmrc file to specify Node.js version 22.16.0
  .nvmrc
Due: none

feat: implement middleware for dynamic Content Security Policy and add security headers in next.config.ts
  middleware.ts
  next.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: enhance UI components with new features and optimizations
  middleware.ts
  prisma/schema.prisma
  src/app/explore/page.tsx
  src/app/themes/[id]/page.tsx
  src/app/themes/page.tsx
  src/app/ui/[uiid]/page.tsx
  src/components/ui/calendar.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/use-toast.ts
  src/hooks/useMode.ts
  src/hooks/useModelInitialization.ts
  src/lib/llm.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: biomejs integration
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

fix: lint issues
  app/(auth)/actions.ts
  app/(auth)/login/page.tsx
  app/(auth)/register/page.tsx
  app/api/chats/[chatId]/route.ts
  app/api/chats/route.ts
  components/ai-elements/actions.tsx
  components/ai-elements/prompt-input.tsx
  components/ai-elements/suggestion.tsx
  components/ai-elements/web-preview.tsx
  components/auth-form.tsx
  components/chat/chat-input.tsx
  components/chat/chat-messages.tsx
  components/chat/preview-panel.tsx
  components/chats/chats-client.tsx
  components/env-setup.tsx
  components/home/home-client.tsx
  components/message-renderer.tsx
  components/shared-components.tsx
  components/shared/app-header.tsx
  components/shared/chat-menu.tsx
  components/shared/chat-selector.tsx
  components/shared/resizable-layout.tsx
  components/ui/avatar.tsx
  components/ui/carousel.tsx
  components/ui/dialog.tsx
  components/ui/dropdown-menu.tsx
  components/ui/hover-card.tsx
  components/ui/input.tsx
  components/ui/scroll-area.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  components/ui/tooltip.tsx
  components/user-nav.tsx
  hooks/use-chat.ts
  lib/db/queries.ts
  lib/db/schema.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: vscode configs
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
Due: biome format --write --no-errors-on-unmatched

fix: lint issues
  app/(auth)/auth.ts
  app/api/chat/route.ts
  components/ai-elements/image.tsx
  components/ai-elements/prompt-input.tsx
  components/ai-elements/suggestion.tsx
  components/chat/chat-messages.tsx
  components/chats/chat-detail-client.tsx
  components/home/home-client.tsx
  components/message-renderer.tsx
  components/providers/swr-provider.tsx
  components/shared-components.tsx
  components/shared/resizable-layout.tsx
  components/ui/icons.tsx
  hooks/use-chat.ts
  lib/db/connection.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: configure geist fonts
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add theme provider and toggle components
  app/layout.tsx
  components/providers/theme-provider.tsx
  components/shared/app-header.tsx
  components/theme-toggle.tsx
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: update next-auth and related dependencies to latest beta versions
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

feat: add .editorconfig for consistent coding style across editors
  .editorconfig
Due: none

fix: add padding to unordered lists in Response component
  components/ai-elements/response.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: update README.md for clarity and conciseness
  README.md
Due: biome format --write --no-errors-on-unmatched

chore: remove Vercel deployment button from README.md
  README.md
Due: biome format --write --no-errors-on-unmatched

refactor: improve code readability and enforce immutability in StreamingContext
  contexts/streaming-context.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add new hooks
  hooks/use-event-listner.ts
  hooks/use-isomorphic-layout-effect.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: replace manual keydown event handling with useEventListener hook
  components/chats/chat-detail-client.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Create test
  test
Due: none
